.button-1 {
    padding: 10px 20px;
                font-size: 50px;
                background-color: rgba(165, 48, 13, 0.781);
                color: ghostwhite;
                border-width: 2px;
                border-style: dashed;
                border-color: ghostwhite;
                border-radius: 15px;
                cursor: pointer;
    }

    /*Kopf-Button*/

.container {
    margin-top: 105px;
    margin-right: 435px;
    background-color: white;
    padding: 10px 20px;
    cursor: pointer;
}
    /*Container mit Eingabefeldern für Rentenberechnung*/