 /*Hintergrundbild*/
        body {
            background-image: url(BG_Talk.jpg);
            background-size: cover;
            background-position: inherit;
            background-repeat: no-repeat;
            font-family: Arial;
        }


        /*Gestaltung von "Kopf-Button"*/
        .Headline {
            background-color: white;
            font-size: 50px;
            padding: 10px 20px;
            position: absolute;
            left: 50px;
            top: 10px;
            border-width: 2px;
            border-style: solid;
            border-color: black;
            cursor: pointer;
        }

        /*Gestaltung Button zur Eingabe der Kinderanzahl*/
        #InputAnzeigen {
            background-color: white;
            font-size: 30px;
            padding: 10px;
            position: absolute;
            left: 50px;
            top: 104px;
            border-color: black;
            border-style: solid;
            border-width: 2px;
            cursor: pointer;
            transition: background-color 0.7s, color 0.7s, font-size 0.7s, left 0.7s, top 0.7s;
        }

        /*Gestaltung Container mit angegebener Menge Eingabefeldern*/
        #InputContainer {
            background-color: white;
            font-size: 30px;
            padding: 10px;
            border-color: black;
            border-style: solid;
            border-width: 2px;
            position: absolute;
            left: 50px;
            right: 1135px;
            top: 174px;
        }

        /*Hover-Effekt für Eingabefeld Kinderanzahl*/
        #InputAnzeigen:hover {
            background-color: blue;
            color: white;
            font-size: 36px;
            left: 50px;
            top: 104px;
            z-index: 2;
        }

        /*Gestaltung KEZ_Ausgabe Fenster*/
        #KEZ_Ausgabe {
            background-color: white;
            font-size: 30px;
            padding: 10px;
            border-color: black;
            border-style: solid;
            border-width: 2px;
            position: absolute;
            left: 50px;
            right: 985px;
            top: 444px;
        }

        /*Informationsfenster auf der rechten Seite des Bildschirms*/
        #KEZ_Einzelteile {
            background-color: white;
            font-size: 30px;
            padding: 10px;
            border-color: black;
            border-style: solid;
            border-width: 2px;
            position: absolute;
            left: 985px;
            right: 50px;
            top: 104px;
        }

        #KEKS {
            background-color: white;
            font-size: 30px;
            padding: 10px;
            position: absolute;
            left: 405px;
            top: 104px;
            border-color: black;
            border-style: solid;
            border-width: 2px;
            cursor: pointer;
        }