body {
    background-color:#282A35;
    z-index: 0;
}

#menu {
    background-color:#282A35;
    z-index: 1;
    position: absolute;
    width: 15%;
    left: 0px;
    top: 0px; 
    bottom: 0px;
    box-shadow: 50px 0px 20px black;
}
