@keyframes Bund {
    0% {box-shadow: 50px 0px 20px rgb(4, 197, 197);}
    25% {box-shadow: 50px 0px 20px rgb(151, 5, 196);}
    50% {box-shadow: 50px 0px 20px rgb(4, 197, 197);}
    75% {box-shadow: 50px 0px 20px rgb(151, 5, 196);}
    100% {box-shadow: 50px 0px 20px rgb(4, 197, 197);}
}

body {
    background-color:#0f1014;
    z-index: 0;
}

#menu {
    background-color:#0f1014;
    z-index: 1;
    position: absolute;
    width: 288px;
    left: 0px;
    top: 0px; 
    bottom: 0px;
    box-shadow: 50px 0px 20px rgb(151, 5, 196);
    animation-name: Bund;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#TicTacToe1 {
    background-color: #0f1014;
    border-color:rgb(4, 197, 197);
    border-width: 2px;
    border-style: solid;
    width: 10px;
    height: 10px;
    z-index: 2;
    transition: width 0.5s, height 0.5s, border-color 0.5s, margin 0.5s;
}

#TicTacToe2 {
    background-color: #0f1014;
    border-color:rgb(4, 197, 197);
    border-width: 2px;
    border-style: solid;
    width: 10px;
    height: 10px;
    z-index: 2;
    transition: width 0.5s, height 0.5s, border-color 0.5s;
}

#TicTacToe3 {
    background-color: #0f1014;
    border-color:rgb(4, 197, 197);
    border-width: 2px;
    border-style: solid;
    width: 10px;
    height: 10px;
    z-index: 2;
    transition: width 0.5s, height 0.5s, border-color 0.5s;
}

#TicTacToe4 {
    background-color: #0f1014;
    border-color:rgb(4, 197, 197);
    border-width: 2px;
    border-style: solid;
    width: 10px;
    height: 10px;
    z-index: 2;
    transition: width 0.5s, height 0.5s, border-color 0.5s;
}

#TicTacToe5 {
    background-color: #0f1014;
    border-color:rgb(4, 197, 197);
    border-width: 2px;
    border-style: solid;
    width: 10px;
    height: 10px;
    z-index: 2;
    transition: width 0.5s, height 0.5s, border-color 0.5s;
}

#TicTacToe6 {
    background-color: #0f1014;
    border-color:rgb(4, 197, 197);
    border-width: 2px;
    border-style: solid;
    width: 10px;
    height: 10px;
    z-index: 2;
    transition: width 0.5s, height 0.5s, border-color 0.5s;
}

#TicTacToe7 {
    background-color: #0f1014;
    border-color:rgb(4, 197, 197);
    border-width: 2px;
    border-style: solid;
    width: 10px;
    height: 10px;
    z-index: 2;
    transition: width 0.5s, height 0.5s, border-color 0.5s;
}

#TicTacToe8 {
    background-color: #0f1014;
    border-color:rgb(4, 197, 197);
    border-width: 2px;
    border-style: solid;
    width: 10px;
    height: 10px;
    z-index: 2;
    transition: width 0.5s, height 0.5s, border-color 0.5s;
}

#TicTacToe9 {
    background-color: #0f1014;
    border-color:rgb(4, 197, 197);
    border-width: 2px;
    border-style: solid;
    width: 10px;
    height: 10px;
    z-index: 2;
    transition: width 0.5s, height 0.5s, border-color 0.5s;
}

#TicTacGrid {
    display: grid;
    gap: 5px;
    z-index: 2;
    grid-template-columns: 15px 15px 15px;
    position: absolute;
    top: 150px;
    left: 110px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
    transition: gap 0.5s;
}

#TicTacGrid:hover {
    gap: 30px;

}

#TicTacToe1:hover {
    width: 30px;
    height: 30px;
    border-color:rgb(151, 5, 196);
    margin:auto;
}
